
body {
    direction: rtl;
}

#wrapper {
    width: 960px;
    margin:auto;
}

#control {
    text-align: center;
}

#wrapper2 {
    position: relative;
}

#suras {
    position: absolute;
    top:15px;
    width:200px;
    height:430px;
    overflow:auto;
}
#suras .active {
    background:#3f51b5;;
    color:white;
}
#suras .active a {
    color:white;
}


#page {
    position: absolute;
    top:15px;
    right:220px;
    height:430px;
    width:290px;
    margin:0;
    padding:0;
}
#page a:hover div {
    background:yellow;
    opacity:.2; filter:alpha(opacity=25);
}
#page a.active div {
    background:blue;
    opacity:.2; filter:alpha(opacity=25);
}

#page div {
    position:absolute;
}

   
#tafseer {
    position: absolute;
     font-family: 'Lateef', cursive;
    font-size: 20px;
    top:15px;
    right:520px;
    height:430px;
    width:290px;
    background: #f8f8f8;
    overflow:auto;
}

a {
    color: #ff4081; }

span#page_num {
    color: white;
}

table {
    table-layout: fixed;
   
}
span#page_num {
    color: #444;
}



td, th {
    /* padding: 15px 5px; */
    display: table-cell;
    text-align: left;
    padding: 0px;
    vertical-align: middle;
    border-radius: 2px;
}
body {
    font-family: 'Amiri', serif; 
}
